<%- include('_includes/header.ejs', { user: it.sessionUser }) %>

<main>
    <h1>new review</h1>

    <form action="<%= it.reviewIsEditing ? `/${it.sessionUser.username}/review/edit/${it.reviewid}` : `/${it.sessionUser.username}/review/create` %>" method="post">
        <fieldset class="review-fieldset">
            <label for="reviewname">reviewname:</label>
            <noscript>
                <input
                    id="reviewname"
                    name="reviewname"
                    type="text"
                    maxlength="30"
                    required
                    <% if (it.payload.review && it.payload.review.reviewname) { %>
                        value = <%= it.payload.review.reviewname %>
                    <% } %>
                >
            </noscript>
            <div id="reviewname-container"></div>

            <label for="reviewtext"></label>
            <textarea id="reviewtext" name="reviewtext" rows="20" required><% if (it.payload.review && it.payload.review.reviewtext) { %><%= it.payload.review.reviewtext %><% } %></textarea>
        </fieldset>
        <button type="submit" value="OK">submit</button>
    </form>

    <% if (it.error) { %>
        <p>error: <%= it.error %></p>
    <% } %>
</main>

<script src="/js/etto.min.js"></script>
<script nonce="<%- it.nonce %>">
    (() => {
        window.viewData = {
            payload: <%- JSON.stringify(it.payload) %>
        };

        let { itemnames, review } = window.viewData.payload;

        const etto = new Etto(
            document.getElementById('reviewname-container'),
            {
                inputAttributes: { id: 'reviewname', name: 'reviewname', maxlength: '30', required: true }
            },
            itemnames
        );

        if (review && review.reviewname) {
            etto.value = review.reviewname;
        }
    })();
</script>

<%- include('_includes/footer.ejs') %>