<%- include('_includes/header.ejs', { user: it.user }) %>

<main>
    <p>
        <a href="/<%= it.username %>"><%= it.username %>'s lists</a>
    </p>
    <h1><%= it.list.listname %></h1> <span><a href="/<%= it.username %>/list/remove/<%= it.list.listid %>">remove list</a>

    <div id="list">
        <noscript>
            <% for (const section of it.list.sections) { %>
                <h2><%= section.sectionname %></h2>
                <ul>
                    <% for (const item of section.items) { %>
                        <li><%= item.itemname %></li>
                    <% } %>
                </ul>
            <% } %>
        </noscript>
    </div>
</main>

<script nonce="<%- it.nonce %>">
    (() => {
        window.viewData = {
            list: <%- JSON.stringify(it.list) %>
        };
    })();
</script>
<script defer src="/app/list.js"></script>

<%- include('_includes/footer.ejs') %>