<%- include('_includes/header.ejs', { user: it.sessionUser }) %>

<main>
    <h1>remove list <em><%= it.listname %></em>?</h1>

    <form action="/<%= it.sessionUser.username %>/list/remove/4" method="post">
        <p>are you sure you want to delete this list? all sections and items will be deleted as well</p>
        <button type="submit">confirm</button>

        <p>
            <a href="/<%= it.sessionUser.username %>/<%= it.slug %>">go back</a>
        </p>
    </form>

    <% if (it.error) { %>
        <p>error: <%= it.error %></p>
    <% } %>
</main>

<%- include('_includes/footer.ejs') %>