<%- include('_includes/header.ejs', { user: it.sessionUser }) %>

<main>
    <h1><%= it.user.username %> reviews</h1>

    <% if (it.isAuth) { %>
        <a href="/<%= it.user.username %>/review/create">new review</a>
    <% } %>

    <% if (it.reviews && it.reviews.length > 0) { %>
        <% for (let review of it.reviews.reverse()) { %>
            <div>
                <h3><%= review.reviewname %></h3>
                <a href="/<%= it.sessionUser.username %>/review/remove/<%= review.reviewid %>">remove</a>
                <a href="/<%= it.sessionUser.username %>/review/edit/<%= review.reviewid %>">edit</a>
                <div>
                    <% let texts = review.reviewtext.split('\r\n') %>
                    <% for (let text of texts) { %>
                        <% if (text.trim()) { %>
                            <p><%= text %></p>
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <em>this user has not written any reviews yet</em>
    <% } %>
</main>

<%- include('_includes/footer.ejs') %>