<%- include('_includes/header.ejs', { user: it.sessionUser }) %>

<main>
    <h1><%= it.user.username %>'s reviews</h1>

    <div>
        <a href="/<%= it.user.username %>"><%= it.user.username %></a>
        <% if (it.isAuth) { %>
            <a href="/<%= it.user.username %>/review/create">create review</a>
        <% } %>
    </div>

    <% if (it.reviews && it.reviews.length > 0) { %>
        <% for (let review of it.reviews.reverse()) { %>
            <div class="review">
                <h3><%= review.reviewname %></h3>
                <div>
                    <% let texts = review.reviewtext.split('\r\n') %>
                    <% for (let text of texts) { %>
                        <% if (text.trim()) { %>
                            <p><%= text %></p>
                        <% } %>
                    <% } %>
                </div>
                <% if (it.isAuth) { %>
                    <a href="/<%= it.sessionUser.username %>/review/edit/<%= review.reviewid %>">edit</a>
                    <a href="/<%= it.sessionUser.username %>/review/remove/<%= review.reviewid %>">remove</a>
                <% } %>
            </div>
        <% } %>
    <% } else { %>
        <em>this user has not written any reviews yet</em>
    <% } %>
</main>

<%- include('_includes/footer.ejs') %>