<%- include('_includes/header.ejs', { user: it.sessionUser }) %>

<main>
    <h1><%= it.user.username %></h1>

    <div>
        <a href="/<%= it.user.username %>/reviews/"><%= it.user.username %>'s reviews</a>
    </div>

    <% if (it.lists && it.lists.length > 0) { %>
        <ul>
            <% for (let list of it.lists) { %>
                <li>
                    <a href="/<%= it.user.username %>/<%= list.slug %>">
                        <%= list.listname %>
                    </a>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <em>this user has not made any lists yet</em>
    <% } %>

    <% if (it.isAuth) { %>
        <div><a href="/<%= it.user.username %>/list/create">create new list</a></div>
    <% } %>
</main>

<%- include('_includes/footer.ejs') %>